APP_ENV=
CIRCUITS_DIR=
CORS_ORIGINS=
DATABASE_URL=
OPEN_METEO_BASE_URL=
PLANET_API_KEY=
PLANET_BASE_URL=
PLANET_USER_ID=
SENTINEL_HUB_CLIENT_ID=
SENTINEL_HUB_CLIENT_SECRET=
SENTINEL_HUB_INSTANCE_ID=
STORAGE_DIR=